<!-- Header -->
<div class="bg-gradient-to-br from-gray-800 to-gray-900 relative z-[10] flex h-16 w-full flex-0 items-center px-4 shadow
            dark:border-b md:px-6 print:hidden dark:border-gray-700 transition-colors duration-500" #Header>

  <!-- Toggle Server-Picker -->
  <div [ngClass]="['w-9 h-9 hover:rounded-full flex hover:bg-gray-200 dark:hover:bg-gray-700 items-center ' +
                   'justify-center cursor-pointer select-none', 'transition-transform duration-300 ease-in-out',
                   this.dataService.showMobileSidebar ? (!localStorage.getItem('active_guild') || this.dataService.hideGuildSidebar ?
                   'max-xl:translate-x-14' : 'max-xl:translate-x-[22rem]') : 'translate-x-0']"
       (click)="toggleServers()">
    <img alt="Clank ~ Discord-Bot (Hamburger Icon)" class="w-5 h-5 rounded-none"
         ngSrc="assets/img/icons/sidebar/menu-burger.svg" width="24" height="24" />
  </div>

  <!-- Header Icons -->
  <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">

    <!-- Search -->
    @if ((!this.dataService.showMobileSidebar || window.innerWidth > 1025) && localStorage.getItem('active_guild')) {
      <div class="w-10 h-10 hover:rounded-full flex hover:bg-gray-200 dark:hover:!bg-gray-700 items-center
                justify-center cursor-pointer select-none" (click)="showSearchInput = !showSearchInput">
        <img alt="Clank ~ Discord-Bot (Search Icon)" class="w-6 h-6 rounded-none mt-0.5"
             ngSrc="assets/img/icons/sidebar/search.svg" width="24" height="24" />
      </div>
    }

    <!-- Switch Language -->
    <div class="lang-switch-btn w-8 h-8">
      <lang-switch-button></lang-switch-button>
    </div>

    <!-- Theme Switcher -->
    <theme-switch-button></theme-switch-button>
  </div>
</div>

<!-- Search Input -->
@if (showSearchInput) {
  <div class="absolute top-0 left-0 bg-white shadow-md z-50 p-4 dark:!bg-gray-900
            border-b border-gray-200 dark:!border-gray-700" #searchContainer [@searchAnimation]
       [ngClass]="{'-translate-y-full': !showSearchInput, 'translate-y-0': showSearchInput}"
       [style.width.px]="Header.offsetWidth" [style.height.px]="Header.clientHeight"
       [style.top.px]="Header.offsetTop" [style.left.px]="Header.offsetLeft">

    <!-- Search Input & Buttons -->
    <div class="relative w-full h-full flex items-center z-50">
      <img ngSrc="assets/img/icons/sidebar/search.svg" alt="Clank ~ Discord-Bot (Search Icon)"
           class="absolute left-1 top-1/2 transform -translate-y-1/2 w-6 h-6" height="24" width="24" />
      <input type="text" placeholder="{{ 'PLACEHOLDER_SEARCH' | translate }} ✍️" maxlength="100"
             [(ngModel)]="searchInput" (keydown)="getFilteredResults()"
             class="w-11/12 h-6 pl-12 sm:pl-14 leading-3 text-black dark:!text-white dark:!bg-gray-900"  />

      <div class="w-10 h-10 hover:rounded-full flex hover:bg-gray-200 dark:hover:!bg-gray-700 items-center
                justify-center cursor-pointer select-none absolute right-1 top-1/2 transform -translate-y-1/2"
           (click)="closeSearch()">
        <img ngSrc="assets/img/icons/sidebar/cross-circle.svg" alt="Clank ~ Discord-Bot (Close Icon)"
             class="w-6 h-6 cursor-pointer" height="24" width="24" />
      </div>
    </div>

    <!-- Search Results -->
    @if (searchInput) {
      <div [@slideDown] class="mt-[26px] w-full relative bg-white dark:!bg-gray-900 z-40 max-h-[28vh] overflow-y-auto"
           [style.left.px]="-24" [style.width.px]="Header.offsetWidth">
        @if (getFilteredResults().length === 0) {
          <div class="p-6 border-b border-gray-300 dark:border-gray-700 text-gray-400 dark:!text-gray-600">
            <span>{{ 'PLACEHOLDER_SEARCH_EMPTY' | translate }}</span>
          </div>
        }

        @for (item of getFilteredResults(); track item.category) {
          <div>
            <div class="p-6 uppercase font-bold tracking-wider text-sm pb-1 text-gray-500 dark:!text-gray-300">
              {{ item.category }}
            </div>

            <div class="p-6 pl-4 border-b border-gray-300 dark:border-gray-700 pt-2">
              @for (page of item.showPages; track page.redirect_url) {
                <a [routerLink]="page.redirect_url"
                   class="flex items-center hover:bg-gray-100 dark:hover:!bg-gray-800 p-2 rounded-2xl">
                  <fa-icon [icon]="page.icon" class="text-slate-400 mr-3"></fa-icon>
                  <div class="text-gray-800 dark:!text-white flex flex-col text-sm">
                    <span>{{ page.title }}</span>
                    <span class="text-gray-500 dark:!text-gray-400">› {{ page.desc }}</span>
                  </div>
                </a>
              }
            </div>
          </div>
        }
      </div>
    }

  </div>
}
